name: Test GitHub Actions

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Print confirmation
        run: echo "GitHub Actions is working successfully for FLW app"
